# ignore virtual environment 
# can remove io_venv at the end
io_venv/ 
venv/

# OS files 
.DS_Store

#local database
*.db

#byte-compiled / cache files
__pycache__/
*.py[cod]

#SSL keys
*.pem

#Environment varaible files
.env


app/podfolio.db
